---
import { getArticles } from '@features/blog/api'
import type { ArticleListingStoryblok } from '@features/storyblok/types/components'
import ArticleCard from '@features/blog/ArticleCard/index.astro'

export interface Props {
  blok: ArticleListingStoryblok
}

const { blok } = Astro.props as Props

const { starts_with: startsWith, with_tag: withTag, per_page: perPage } = blok

const articles = await getArticles({ startsWith, withTag, perPage })

const hasArticles = Array.isArray(articles) && articles.length
---

<!-- TODO: Render as MessageBox -->{!hasArticles && <p>No articles found</p>}

{
  hasArticles &&
    articles.map((article) => {
      return <ArticleCard article={article} />
    })
}
