# build output
.output/
dist/

# dependencies
.pnpm-store/
node_modules/
pnpm-debug.log*

# environment variables
.env*.local

# certs
localhost*.pem

# OS-specific files
.DS_Store
Thumbs.db

# misc
TODO.md
