---
import type { SeoMetadata } from '~/features/storyblok/types/content-types'

export interface Props {
  metadata?: SeoMetadata
}

const { metadata: storyMetadata } = Astro.props as Props

const metadata = {
  title: storyMetadata?.title ?? `Chris Meagher's blog`,
  description:
    storyMetadata?.description ??
    `A blog about the things I am learning and doing in the world of software development.`
}
---

<title>{metadata.title}</title>
<meta name="description" content={metadata.description} />
