---
import { themeCookieName } from '~/features/themes'
import './reset.scss'
import './base.scss'

const themeCookie = Astro.cookies.get(themeCookieName)
const currentTheme = themeCookie?.value
---

<!DOCTYPE html>
<html lang="en" data-theme={currentTheme}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.png" />
    <slot name="seo-metadata" />
  </head>
  <body>
    <slot />
  </body>
</html>
