.header {
  display: flex;
  position: relative;
  padding: var(--size-3) var(--size-4);
  z-index: var(--layer-1);
  background: linear-gradient(180deg, var(--color-surface-1) 0%, var(--color-canvas) 100%);
}

$logoSize: 50px;
$logoBorderSize: 3px;

.logo {
  display: flex;
  align-items: center;
  position: relative;
  z-index: var(--layer-3);
}

.logo-img-border {
  width: calc($logoSize + ($logoBorderSize * 2));
  position: relative;
  background-clip: padding-box;
  border: solid $logoBorderSize transparent;
  border-radius: var(--radius-round);
  transition: width .5s var(--ease-3);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: var(--layer-00);
    margin: -$logoBorderSize;
    border-radius: inherit;
    background: var(--color-gradient-1);
  }
}

.logo-img {
  width: $logoSize;
  height: $logoSize;
  aspect-ratio: var(--ratio-square);
  border-radius: var(--radius-round);
  background-color: var(--canvas);
  transition: width .5s var(--ease-3), height .5s var(--ease-3);
}

.logo-text {
  width: 150px;
  height: 40px;
  padding-block-start: 6px;
  margin-inline-start: 12px;
  fill: var(--color-accent-2);
  transition: fill .5s var(--ease-3), width .5s var(--ease-3), height .5s var(--ease-3);
}

@media (--sm-n-above) {
  $logoSizeLg: 64px;

  .logo-img-border {
    width: calc($logoSizeLg + ($logoBorderSize * 2));
  }

  .logo-img {
    width: $logoSizeLg;
    height: $logoSizeLg;
  }

  .logo-text {
    width: 170px;
    height: 50px;
  }
}

.nav {
  align-self: center;
  margin-inline-start: auto;
  padding-block-start: 6px;
}

// element is middle line, ::before is top, ::after is bottom
.nav-icon,
.nav-icon::before,
.nav-icon::after {
  display: block;
  width: 40px;
  height: 4px;
  position: absolute;
  top: 50%;
  background: var(--color-accent-2);
  border-radius: var(--radius-3);
  z-index: var(--layer-3);
}

.nav-container {
  display: inline-block;
  position: relative;
  z-index: var(--layer-1);
  width: 40px;
  height: 24px;
}

.nav-icon::before
{
  content: '';
  top: -10px;
  transition: top 75ms var(--ease-3), opacity 75ms var(--ease-3);
}

.nav-icon::after
{
  content: '';
  top: auto;
  bottom: -10px;
  transition: bottom 75ms var(--ease-3), transform 75ms cubic-bezier(.55,.055,.675,.19);
}

.nav-toggle {
  display: block;
  width: 40px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: var(--layer-4);
  cursor: pointer;
}

.nav-toggle:checked ~ .nav-icon
{
  transform: rotate(45deg);

  &::before
  {
    top: 0;
    opacity: 0;
    transition: top 75ms var(--ease-3), opacity 75ms var(--ease-3);
  }

  &::after
  {
    bottom: 0;
    transform: rotate(90deg);
    transition: bottom 75ms var(--ease-3), transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
  }
}

.nav-content {
  position: fixed;
  z-index: var(--layer-2);
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  padding: var(--size-4);
  padding-top: var(--size-12);
  background: var(--color-surface-1);
  transform: translate3d(100%, 0, 0);
  transition: transform 0.5s var(--ease-out-5);
}

.nav-toggle:checked ~ .nav-content
{
  transform: none;
}

.nav-primary {
  padding: 0;
  list-style-type: none;
}
