---
import type { PageNotFoundStory } from '@features/errors/api'

export interface Props {
  story: PageNotFoundStory
}

const { story } = Astro.props as Props

const { title } = story.content
---

<h1>{title}</h1>

<!-- TODO: Content -->
<p>404</p>
