---
import type { PageNotFoundStory } from '@features/errors/api'

export interface Props {
  story: PageNotFoundStory
}

const { story } = Astro.props as Props
---

<!-- TODO: Content -->
<p>Hi!</p>
