---
import type { PageNotFoundStory } from '@features/errors/api'
import DefaultLayout from '@features/common/DefaultLayout/index.astro'

export interface Props {
  story: PageNotFoundStory
}

const { story } = Astro.props as Props
---

<DefaultLayout>
  <p>Hi!</p>
  <!-- TODO: Content -->
</DefaultLayout>
