---
import type { PageNotFoundStory } from '~/features/errors/api'

export interface Props {
  story: PageNotFoundStory
}

const { story } = Astro.props as Props

const { title } = story.content
---

<div class="content prose">
  <h1>{title}</h1>

  <p>
    Try taking a look at my <a href="/blog">blog articles</a> instead, or go to the
    <a href="/">home page</a>.
  </p>
</div>
